{% extends 'index.html' %}

{% block titulo %}
    <h2 ></h2>
{% endblock %}

{% block contenido %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="{{ mensaje }}">{{ mensaje }}</div>
        <p class="text-gray-500 mb-0">Intenta con otro usuario o crea uno nuevo...</p>
        <div class="text-center">
            <a href="{{ url_for('login') }}">&larr; Iniciar Sesión</a>
        </div>
        <div class="text-center">
            <a href="{{ url_for('register') }}">&larr; Crear Cuenta</a>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}
