<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Recomendador de Música</title>

    <!-- Custom fonts for this template-->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='vendor/fontawesome-free/css/all.min.css') }}">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel= "stylesheet" href= "{{ url_for('static',filename='css/sb-admin-2.min.css') }}">

    {% block head %}
    {% endblock %}
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('index') }}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fa-solid fa-music"></i>
                </div>
                <div class="sidebar-brand-text mx-3">RECOMENDADOR DE MÚSICA</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider">

                        <!-- Nav Item - CDA -->
            <li class="nav-item">
                <a class="nav-link"> <span>MINE-4201<br> Sistemas de Recomendación <br> Univerisdad de los Andes</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Integrantes
            </div>

            <!-- members list -->
            <li class="nav-item">
                <a class="nav-link">
                    <i class="fas fa-female"></i>
                    <span>Yeimy Cano <br> Login: y.cano</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <i class="fas fa-male"></i>
                    <span>Julián Sanabria <br> Login: jj.sanabria</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <i class="fas fa-male"></i>
                    <span>Julián Barreto<br> Login: c.barretom</span>
                </a>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider">



        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    {% block titulo %}
                    <h3 >Tus Recomendaciones</h3>
                    {% endblock %}

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 media">{{ usuario }}</span>
                                <img class="img-profile rounded-circle" {{ imagen }} >
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{{ url_for('profile') }}">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Perfil
                                </a>
                                <a class="dropdown-item" href="{{ url_for('index') }}">
                                    <i class="fa-solid fa-music fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Tus Recomendaciones
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ url_for('login') }}">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar Sesión
                                </a>
                            </div>
                        </li>
                    </ul>

                </nav>
                <!-- End of Topbar -->

                {% block contenido %}
                <!-- Begin Page Content -->
                <div class="container">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="form-group row">
                            <div class="col-lg-4">
                                <div class="p-4">

                                    <div class="card-header py-3 text-center">
                                        <h6 class="m-0 font-weight-bold text-primary">Tus Artistas Favoritos</h6>
                                    </div>

                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table-bordered" id="tableFavorites" width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Artista</th>
                                                        <th>Conteo</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{{ favorites[0][1] }}</td>
                                                        <td>{{ favorites[0][2] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ favorites[1][1] }}</td>
                                                        <td>{{ favorites[1][2] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ favorites[2][1] }}</td>
                                                        <td>{{ favorites[2][2] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ favorites[3][1] }}</td>
                                                        <td>{{ favorites[3][2] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ favorites[4][1] }}</td>
                                                        <td>{{ favorites[4][2] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ favorites[5][1] }}</td>
                                                        <td>{{ favorites[5][2] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ favorites[6][1] }}</td>
                                                        <td>{{ favorites[6][2] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ favorites[7][1] }}</td>
                                                        <td>{{ favorites[7][2] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ favorites[8][1] }}</td>
                                                        <td>{{ favorites[8][2] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ favorites[9][1] }}</td>
                                                        <td>{{ favorites[9][2] }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="p-4">
                                    <div class="card-header py-3 text-center">
                                        <h6 class="m-0 font-weight-bold text-primary">Te Recomendamos</h6>
                                    </div>

                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table-bordered" id="tableRecomender" width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Artista</th>
                                                        <th>Rating</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{{ recommd[0][1] }}</td>
                                                        <td>{{ recommd[0][2] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ recommd[1][1] }}</td>
                                                        <td>{{ recommd[1][2] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ recommd[2][1] }}</td>
                                                        <td>{{ recommd[2][2] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ recommd[3][1] }}</td>
                                                        <td>{{ recommd[3][2] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ recommd[4][1] }}</td>
                                                        <td>{{ recommd[4][2] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ recommd[5][1] }}</td>
                                                        <td>{{ recommd[5][2] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ recommd[6][1] }}</td>
                                                        <td>{{ recommd[6][2] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ recommd[7][1] }}</td>
                                                        <td>{{ recommd[7][2] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ recommd[8][1] }}</td>
                                                        <td>{{ recommd[8][2] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ recommd[9][1] }}</td>
                                                        <td>{{ recommd[9][2] }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                             <div class="col-lg-4">
                                 <div class="p-4">
                                    <div class="card-header py-3 text-center">
                                        <h6 class="m-0 font-weight-bold text-primary">Usuarios Similares</h6>
                                    </div>

                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table-bordered" id="tableUsers" width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Usuario</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{{ similarUsers[0][0] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ similarUsers[1][0] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ similarUsers[2][0] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ similarUsers[3][0] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ similarUsers[4][0] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ similarUsers[5][0] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ similarUsers[6][0] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ similarUsers[7][0] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ similarUsers[8][0] }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{{ similarUsers[9][0] }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- /.container-fluid -->
                {% endblock %}

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Uniandes 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->


    <!-- Bootstrap core JavaScript-->
    <script src="./static/vendor/jquery/jquery.min.js"></script>
    <script src="./static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="./static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="./static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="./static/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="./static/js/demo/chart-area-demo.js"></script>
    <script src="./static/js/demo/chart-pie-demo.js"></script>

</body>

</html>